@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import url("https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" );


$white: #fff;
$darkBlue: #3a4793;
$lightBlue: #25b3ec;
$lightPurple: #9787ee;
$yellow:#ffbf3e;

*, h1, h2, h3, h4, h5, h6, p, span, div{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color:white;
}

html, body{
  background: #A4B0A7;
  height:100%;
  overflow:hidden;
}

@import "_home";
@import "_task_index";
